:root {
    --rojo: #F22233;
    --amarillo: #F2CB05;
    --naranja: #f27405;
    --texto: #474747;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    background-color: var(--rojo);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav__Logo {
    padding: 10px;
    text-align: left;
    margin-left: 40px;
}

.nav__buscar {
    margin-top: 33px;

}

#banner {
    width: 100%;
}

#buscar__texto {
    width: 30%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    font-weight: bolder;
}

#buscar__boton {
    border: 1px black solid;
}

.nav__botones {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.landing {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);

}

.boton_interactivo {
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: var(--amarillo);
}


.boton_interactivo::before {
    content: "";
    background-color: var(--rojo);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}


.boton_interactivo:hover::before {
    width: 100%;
}

#anarCataleg {
    height: 250px;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;

}

#verCatalogo {
    padding: 10px;
    margin: auto;
    margin-top: 90px;
    width: 250px;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.mesVenuts {
    margin: auto;
}

.mesVenuts__productes {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.landing__producte {
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid lightslategray;
    width: 100%;
}

.landing__producte:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 1s;
}

.landing__producte img {
    height: 200px;
    background-color: transparent;
}

.landing__producte__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    background-color: var(--rojo);
    color: #fff;
    padding: 20px 0;
    margin-top: 100px;
    font-size: .75em;
}

.footer {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.footer__section h3 {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer__section p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons__logos {
    width: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 2.5px;
    text-decoration: none;
}

/* Estilos para los iconos, puedes reemplazar con tus propias imágenes */
.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#logo {
    width: 60px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*------------- DESKTOP --------------------*/

@media only screen and (min-width: 768px) {
    
    .landing {
        width: 100%;
    }


    nav {
        display: grid;
        grid-template-columns: 0fr 2fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav__buscar {
        margin-top: 33px;

    }

    .nav__botones {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #banner {
        width: 100%;
    }

    #anarCataleg {
        height: 250px;
        background-size: cover;
    }

    #verCatalogo {
        margin-top: 90px;
        width: 50%;
        font-size: 30px;
    }

    .mesVenuts {
        width: 95%;
        margin: auto;
    }



    .mesVenuts__productes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 95%;
    }

    .producte__img {
        width: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
    }


    footer {
        margin-top: 50px;
    }
}

/*----------------------------------------- LANDING


/*----------------------------------------- LOGIN */

.login {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);

}

.login-container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}


#login-container__button {
    background-color: var(--amarillo);
    border: none;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px 30px auto;

}


/*------------- DESKTOP --------------------*/

@media only screen and (min-width: 768px) {
    .login {
        width: 100%;
    }

    .login-container {
        width: 30%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        background-color: #f1f1f1;
        padding: 40px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }


    nav {
        display: grid;
        grid-template-columns: 0fr 2.5fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav__buscar {
        margin-top: 33px;

    }



    footer {
        margin-top: 500px;
    }
}

/*----------------------------------------- LOGIN */


/*----------------------------------------- PRODUCTE*/

.pantalla_producte {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;

}

#producte__title {
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
}

.producte__img {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.producte__container {
    width: 75%;
    text-align: left;
    margin-left: 50px;
}


.producte__afegir {
    width: 100%;
    text-align: left;
    margin-top: 100px;
    position: sticky;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 5px;

}

.producte__afegir h1 {
    margin-left: 50px;
    color: var(--rojo);
}

.producte__afegir button {
    width: 100%;
    background-color: var(--amarillo);
    height: 100px;
    font-size: 25px;
    font-weight: bolder;
    border: none;
}

/*------------- DESKTOP --------------------*/

@media only screen and (min-width: 768px) {
    .pantalla_producte {
        width: 100%;
    }


    nav {
        display: grid;
        grid-template-columns: 0fr 2.5fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav__buscar {
        margin-top: 33px;

    }

    .producte {
        width: 100%;
        margin: auto;
    }

    #producte__title {
        text-align: left;
        margin-left: 90px;
        margin-top: 60px;
    }

    .producte__img {
        width: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .producte__container {
        width: 85%;
        text-align: left;
        margin: auto;
    }


    .producte__afegir {
        width: 100%;
        text-align: left;
        margin-top: 100px;
        position: sticky;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-top: 5px;
        border-radius: 10px;

    }

    .producte__afegir button {
        width: 100%;
        background-color: var(--amarillo);
        height: 100px;
        font-size: 25px;
        font-weight: bolder;
        border: none;
        border-radius: 0 0 10px 10px;

    }

    footer {
        margin-top: 50px;
    }

    .boton_interactivo {
        position: relative;
        background-repeat: no-repeat;
        box-sizing: border-box;
        transition: all .3s ease-in-out;
        z-index: 1;
        overflow: hidden;
        border: none;
        border-radius: 5px;
        background-color: var(--amarillo);
    }


    .boton_interactivo::before {
        content: "";
        background-color: var(--rojo);
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 700ms ease-in-out;
        display: inline-block;
    }


    .boton_interactivo:hover::before {
        width: 100%;
    }
}

/*----------------------------------------- PRODUCTE*/

/*----------------------------------------- CARRITO*/

.cart {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;

}


#comanda__title {
    text-align: left;
    margin-left: 75px;
    margin-top: 60px;
}

.comanda__productes {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.comanda__producte {
    margin: auto;
    width: 85%;
    background-color: #f27405;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.comanda__producte:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 1s;
}

.comanda__producte__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.producte__nom {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
}

.producte__quantitat {
    display: grid;
    grid-template-rows: auto auto;
    /* Dos filas: la primera se ajusta al contenido y la segunda también se ajusta al contenido */
    grid-gap: 10px;
    /* Espacio entre filas */
}


.quantitat_buttons {
    width: 30px;
    height: 30px;
    font: 1em sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mes {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#menys {
    margin: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}


/****BARRA PROGRESO****/
.estat {
    background-color: #eeeeee;
    width: 600px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
}

.progress-bar {
    width: 70%;
    margin: auto;
    font-size: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.step {
    width: 25%;
    text-align: center;
    position: relative;
    padding: 0 10px;
    /* Espacio entre el texto y la línea */
}

.pedido-recibido::before,
.en-preparacion::before,
.en-almacen::before,
.en-reparto::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border: 2px solid #ddd;
    border-radius: 50%;
    position: absolute;
    margin-top: 25px;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.pedido-recibido.active::before {
    background-color: #3498db;
    font-size: 12px;
}

.en-preparacion.active::before {
    background-color: #e67e22;
}

.en-almacen.active::before {
    background-color: #27ae60;
}

.en-reparto.active::before {
    background-color: #e74c3c;
}

.step::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border: 2px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Para que los círculos estén por encima de las líneas */
}

.step:not(:last-child)::after {
    content: '';
    width: calc(100% - 10px);
    /* Ancho de la línea (ajusta según tus necesidades) */
    height: 2px;
    /* Grosor de la línea */
    background-color: #ccc;
    position: absolute;
    top: 285%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Para que las líneas estén detrás de los círculos */
}

/*----------------------------------------- CARRITO*/

/*----------------------------------------- PEDIDOS*/

.pantalla_comandes {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;
    font-size: .75em;

}

.comandes {
    margin-top: 30px;
}


.comanda {
    background-color: var(--naranja);
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    grid-template-columns: 1fr;
    border-radius: 10px;
}





/* .info_comanda {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
} */

.info_comanda h4 {
    margin-top: 0;
}

.estat_actual {
    background-color: var(--amarillo);
    width: 40%;
    margin: auto;
    border-radius: 10px;
}


#info_comanda__total {
    text-align: right;
}


/*------------- DESKTOP --------------------*/

@media only screen and (min-width: 768px) {
    .pantalla_comandes {
        width: 100%;
    }


    nav {
        display: grid;
        grid-template-columns: 0fr 2.5fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav__buscar {
        margin-top: 33px;

    }


    footer {
        margin-top: 50px;
    }
}

/*----------------------------------------- PEDIDOS*/

/*----------------------------------------- TRAMITAR COMANDES*/
.pantalla_tramitar_comandes {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;

}

#titol_comanda {
    text-align: left;
    margin-left: 60px;
}

.comandes__tramitar {
    margin-top: 30px;
}



.comanda__tramitar {
    background-color: var(--naranja);
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    grid-template-columns: 1fr;
    border-radius: 10px;
}

.articles_comanda {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.articles_comanda:nth-child(1){
    margin-top: 30px;
}

.articles_comanda h3 {
    margin: 0;
}

.articles_comanda h4 {
    margin: 0;
}

.primer-list{
    text-align: left;
}


.info_comanda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.info_comanda h4 {
    margin-top: 0;
}

#info_comanda__total {
    text-align: right;
}



form {
    max-width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    margin-bottom: 10px;
}

button {
    background-color: var(--amarillo);
    color: var(--texto);
    font-weight: bolder;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#confirmar {
    margin-top: 25px;
}

#cancelar {
    border: none;
    background: none;
}

button:hover {
    background-color: #45a049;
}

.boton_interactivo {
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: var(--amarillo);
}


.boton_interactivo::before {
    content: "";
    background-color: var(--rojo);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}


.boton_interactivo:hover::before {
    width: 100%;
}


.amagatD {
    display: none;
}

.tornar-ctlg {
    display: block;
    margin-top: 2%;
    margin-right: auto;
    margin-left: 5px;
    background-color: var(--amarillo);
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.lnkRegis{
    text-decoration: none;
    color: #474747;
}