<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <title>AutoPlanet</title>
</head>

<body>
    <div id="main">
        <nav class="nav">
            <img id="logo" src="img/logo/logo.png" alt="logo">
            <form class="buscar-form" role="search">
                <input class="buscar" id="searchInput" type="search" placeholder="Buscar" aria-label="Search"
                    v-model="searchTerm" @input="onSearchInput">
                <button class="buscar-btn" id="btn-buscar" type="submit"><img class="buscar-ico"
                        src="https://cdn-icons-png.flaticon.com/256/3917/3917132.png"><!-- Search -->
                </button>
            </form>
            <div class="nav__botones">
                <button class="btn-carret">
                    <img class="barraSuperior" src="img/iconos/volante.png">
                </button>
                <button class="btn-carret">
                    <img class="barraSuperior" src="img/iconos/camion.png">
                </button>
                <button class="btn-carret" @click="toggle()">
                    <img v-if="!carrEstat" src="./js/img/shopping-cart.png" width="40" height="40">
                    <img v-else="carrEstat" src="./js/img/shopping-cart-exclamation.png" width="40" height="40">
                </button>
            </div>
        </nav>
        <div id="productes">
            <div :class="{'cont':visible}">
                <div :class="{'prods':visible, 'prods1':!visible}">
                    <div v-for="(actual,index) in productes" class="prod card shadow-sm"
                        :class="{'selected': actual.carro > 0}">
                        <img :src="actual.image_url">

                        <p class="card-text">
                            {{actual.name}}
                        </p>

                        <div class="stock prodGrid">
                            <span>
                                <p v-if="actual.stock<=10" class="unitats">Últimes unitats</p>
                            </span>
                            <span>
                                <p>
                                    {{actual.price}}€
                                </p>
                            </span>
                            <div>
                                <button class="btn btn-sm btn-outline-secondary" @click="sumar(index)">
                                    Afegir al carro
                                </button>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="checkout" id="cart" :class="{amagat:!visible}">
                    <div class="card shadow-sm">
                        <div class="over">
                            <transition-group name="slide-carro">
                                <div v-for="(actual,index) in carret" :key="index" class="carro">

                                    <span>
                                        <p><img :src="actual.image_url" width="50" height="50"></p>
                                    </span>
                                    <span>
                                        <p>{{actual.name}}</p>
                                    </span>
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" @click="restarC(index)">
                                            -
                                        </button>

                                        <button class="btn btn-sm btn-outline-secondary" @click="sumarC(index)">
                                            +
                                        </button>
                                    </div>
                                    <span class="centrat">
                                        <p>X{{actual.carro}}</p>
                                    </span>
                                    <span>
                                        <p>{{parseFloat((actual.price*actual.carro).toFixed(2))}}€</p>
                                    </span>
                                </div>
                            </transition-group>
                        </div>
                        <div class="total">
                            <h4>Total: {{parseFloat((totalCarret).toFixed(2))}}€</h4>
                            <button class="btn btn-outline-secondary">
                                Veure carret
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart">

        <div class="carro" id="carro">

            <div>
                <h1 id="carro__title">El teu carro:</h1>
            </div>

            <div class="carro__productes">
                <div class="producte">
                    <div><img class="producte__img" src="img/productos/1.jpg" alt=""></div>
                    <div class="producte__nom">
                        <h2>Producte1</h2>
                        <h4>PREU€</h4>
                    </div>
                    <div class="producte__quantitat">
                        <div class="quantitat__unitat">
                            <h3>Unitats: 1</h3>
                        </div>
                        <div class="quantitat__buttons">
                            <button class="boton_interactivo" id="menys">-</button>
                            <button class="boton_interactivo" id="mes" class>+</button>
                        </div>

                    </div>
                </div>

                <div class="producte">
                    <div><img class="producte__img" src="img/productos/1.jpg" alt=""></div>
                    <div class="producte__nom">
                        <h2>Producte1</h2>
                        <h4>PREU€</h4>
                    </div>
                    <div class="producte__quantitat">
                        <div class="quantitat__unitat">
                            <h3>Unitats: 1</h3>
                        </div>
                        <div class="quantitat__buttons">
                            <button class="boton_interactivo" id="menys">-</button>
                            <button class="boton_interactivo" id="mes" class>+</button>
                        </div>

                    </div>
                </div>

                <div class="producte">
                    <div><img class="producte__img" src="img/productos/1.jpg" alt=""></div>
                    <div class="producte__nom">
                        <h2>Producte1</h2>
                        <h4>PREU€</h4>
                    </div>
                    <div class="producte__quantitat">
                        <div class="quantitat__unitat">
                            <h3>Unitats: 1</h3>
                        </div>
                        <div class="quantitat__buttons">
                            <button class="boton_interactivo" id="menys">-</button>
                            <button class="boton_interactivo" id="mes" class>+</button>
                        </div>

                    </div>
                </div>

                <div class="producte">
                    <div><img class="producte__img" src="img/productos/1.jpg" alt=""></div>
                    <div class="producte__nom">
                        <h2>Producte1</h2>
                        <h4>PREU€</h4>
                    </div>
                    <div class="producte__quantitat">
                        <div class="quantitat__unitat">
                            <h3>Unitats: 1</h3>
                        </div>
                        <div class="quantitat__buttons">
                            <button class="boton_interactivo" id="menys">-</button>
                            <button class="boton_interactivo" id="mes" class>+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <footer>
                <div class="footer__total">
                    <span>Total: 100eur</span>
                </div>
                <div class="footer__tramitar">
                    <button class="boton_interactivo" id="boton_tramitar">Tramitar comanda</button>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="./js/functions.js" type="module"></script>

</html>