:root{
    --color1: rgba(242, 33, 51, 1);
    --color2: rgba(3, 119, 191, 1);
    --color3: rgba(3, 191, 69, 1);
    --color4:  rgba(242, 202, 4, 1);
    --color5: rgba(242, 115, 4, 1);
}



.cont {
    display: grid;
    grid-template-areas:
        "prods prods checkout";
    grid-template-columns: 1fr 1fr 1fr;
}

.prods {
    margin-left: 10px;
    grid-area: prods;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    width: 100%;
}

.prods1 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    width: 90vw;
}

.checkout {
    visibility: visible;
    position: sticky;
    top: 13%;
    grid-area: checkout;
    align-self: start;
    margin-top: 10%;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 85vh;
    max-height: 85vh;
}

.amagat{
    visibility: hidden;
}

.prodGrid {
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.over {
    overflow: auto;
    height: auto;
    max-height: 70vh;
}

.carro {
    display: grid;
    grid-template-columns: 10% 1fr 20% 10% 12%;
    align-items: center;
    margin-right: 30px;
}

.total {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    width: 100%;
}

.total * {
    display: inline;
    margin-bottom: 5px;
    margin-top: 5px;
}

.total>button {
    margin-right: 5px;
    margin-left: auto;
}

.total>h4{
    margin-left: 5px;
}

.prod {
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
}

.prod img{
    width: 100%;
    height: 225px;
}

.check {
    grid-area: checkout;
}

.btn-group {
    margin-right: 10%;
}

.card-text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.stock {
    /* margin-left: 10%; */
    margin-bottom: 5px;
}


.unitats {
    background-color: rgb(255, 237, 77);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav>* {
    height: 40px;
    display: flex;
    align-items: center;
}

.buscar {
    border: 0.5px solid rgb(182, 182, 182);
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.buscar-ico {
    height: 20px;
    width: 20px;
    background-color: inherit;
}


.buscar-btn {
    position: absolute;
    right: 5%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 0;
    height: 100%;
}

.buscar-form{
    width: 20%;
    position: relative;
}

.navA {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: larger;
}

.carro p {
    margin-top: 15px;
}

.centrat {
    text-align: center;
}

.botoAfegir {
    padding: 0;
    margin-left: auto;
    margin-right: 0;
}

.btn-group {
    padding: 0;
    margin-right: 0;
    height: fit-content;
    width: fit-content;
}

.btn-carret {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-right: 5%;
}

.selected button{
    background-color: var(--color3) !important;
}