:root {
    --color1: rgba(242, 33, 51, 1);
    --color2: rgba(3, 119, 191, 1);
    --color3: rgba(3, 191, 69, 1);
    --color4: rgba(242, 202, 4, 1);
    --color5: rgba(242, 115, 4, 1);
}

body {
    font-family: 'Roboto', sans-serif;
}

#main{
    width: 100%;
}

button:not(:disabled) {
    cursor: pointer;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 100%;
}



.prods {
    grid-area: prods;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    width: 80%;
    font-size: .8em;
    margin: auto;
    margin-top: 20px;

}
.prods1 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    width: 85%;
}

.checkout {
    /* visibility: visible; */
    position: sticky;
    top: 65px;
    width: 60%;
    grid-area: checkout;
    align-self: start;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: auto;
    margin-bottom: 5px;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(1);
    visibility: visible;
    pointer-events: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    padding: 20px;


}

.btn-group{
    width: 50px;
}

#restar_carret{
    border: none;
    border-right: .5px solid lightgray;
    border-radius: 0;
}

#sumar_carret{
    border: none;
}

.amagat {
    transform-origin: right;
    transform: scaleX(0);
    height: 0;
    visibility: hidden;
    pointer-events: none;
}

.prodGrid {
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.over {
    overflow: auto;
    height: auto;
    max-height: 70vh;
    text-align: right;
}

.carro {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr .1fr .2fr .5fr;
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 0.5px solid lightgray;

}

.total {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.total * {
    display: inline;
    margin-bottom: 5px;
    margin-top: 5px;
}

.total>button {
    margin-right: 5px;
    margin-left: auto;
}

.total>h4 {
    margin-left: 5px;
}

.prod {
    font-size: .7em;
    text-align: center;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    max-height: fit-content;
    background-color: lightgray !important;
}

.stock_prodGrid{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.prod img {
    background-color: white !important;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.check {
    grid-area: checkout;
}

.btn-group {
    text-align: center;
       border-radius: 10px;
       border: .5px solid lightgray;

    }
.card-text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.stock {
    /* margin-left: 10%; */
    margin-bottom: 5px;
    align-items: center;
}


.imatgeProducte{
    position: relative;
}

.ultimesU{
    position: absolute;
    bottom: -10px;
    right: 0%;
    width: 100%;
    margin: 0;
}

.unitats {
    background-color: rgb(255, 237, 77);
    
}

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: .2fr 1fr .3fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 10;
}

.nav img{
    max-width: 30px;
}

.nav>* {
    height: 40px;
    display: flex;
    align-items: center;
}



.buscar {
    border: 0.5px solid rgb(182, 182, 182);
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.buscar-ico {
    height: 20px;
    width: 20px;
    background-color: inherit;
}


.buscar-btn {
    position: absolute;
    right: 5%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 0;
    height: 100%;
}

.btn {
    background-color: white !important;
    text-align: center;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}




.buscar-form {
    margin-left: 30px;
    width: 50%;
    position: relative;
}

.navA {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: larger;
}

.centrat {
    text-align: center;
}

.btn-group {
text-align: center;
   border-radius: 10px;
   border: .5px solid lightgray;
}

.btn-carret {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-right: 5%;
    width: 5px
}

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: .2fr 1fr .4fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}


.nav__botones {
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#logo {
    margin-left: 15px;
}

.selected button {
    background-color: var(--color3) !important;
}

.slide-carro-enter-active,
.slide-carro-leave-active {
    transition: transform 0.5s;

}

.slide-carro-leave-to {
    transform: translateX(-100%);
}

.slide-carro-enter-from {
    transform: translateX(-100%);
}

.slide-carro-enter-to {
    transform: translateX(0);
}


footer {
    text-align: center;
    background-color: var(--color1);
    color: #fff;
    margin-top: 100px;
    font-size: .75em;
    
}

.footer {
    max-width: 100%;
    margin: 10px;
    display: grid;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    
}


.footer__section h3 {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer__section p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons__logos{
    width: 5px;
   }
   
   .social-icons {
       margin-top: 10px;
   }
   
   .social-icons a {
       margin: 2.5px;
       text-decoration: none;
   }
   
   /* Estilos para los iconos, puedes reemplazar con tus propias imágenes */
   .social-icons img {
       width: 30px;
       height: 30px;
       border-radius: 50%;
   }


@media screen and (max-width: 600px) {

    .cont {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .prods {
        grid-area: prods;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        width: 80%;
        font-size: .6em;
        margin: auto;

    }

    .nav {
        width: 100%;
        display: grid;
        grid-template-columns: .2fr 1fr .5fr;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color1);
        padding-top: 10px;
        padding-bottom: 10px;
        position: sticky;
        top: 10;
    }
    

    .prods1 {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
        width: 80%;
        font-size: .6em;
    }

    .imatgeProducte{
        position: relative;
    }

    .ultimesU{
        position: absolute;
        bottom: 2px;
        right: .5%;
        width: 100%;
        margin: 0;
    }

    .unitats {
        background-color: rgb(255, 237, 77);
        margin: 0;
        
    }
    


    .prodGrid {
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
        display: flex;
        vertical-align: top;
        /* flex-wrap: wrap; */
        justify-content: center space-around;
        align-items: center;
        max-height: min-content;
    }

    .checkout {
        border-radius: 10px;
        padding: 20px;
        position: sticky;
        top: 20;
        width: 70%;
        background-color: #fff;
        font-size: .6em;
        margin-right: 5px;
        margin-left: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #restar_carret{
        width: 10px;
        padding: 5px;
        border: none;
        border-right: 1px solid lightgray;
        padding-right: 11px;
        border-radius: 0;
       
    }

    #sumar_carret{
        border: none;
        padding-left: 6px;
    }
    

    .over {
        overflow: auto;
        height: auto;
        max-height: 70vh;
        text-align: left;
    }
        

   
    .total {
        position: sticky;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        bottom: 0px;
        width: 100%;
        background-color: white;
    }

    .prod img {
        width: 100%;
        background-color: white !important;
    }

    .carro{
        display: grid;
        grid-template-columns: 1fr 1fr .2fr 1fr;
        grid-gap: 20px;
        justify-content: space-evenly;
        border-bottom: 0.5px solid lightgray;
        width: 99%;
        height: 50px;
        text-align: left;
    }

    
footer {
    background-color: var(--color1);
    color: #fff;
    padding: 20px;
    margin-top: 100px;
    font-size: .75em;
}

.footer {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.footer__section h3 {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer__section p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons__logos{
    width: 5px;
   }
   
   .social-icons {
       margin-top: 10px;
   }
   
   .social-icons a {
       margin: 2.5px;
       text-decoration: none;
   }
   
   /* Estilos para los iconos, puedes reemplazar con tus propias imágenes */
   .social-icons img {
       width: 30px;
       height: 30px;
       border-radius: 50%;
   }


}