:root{
    --rojo: #F22233;
    --amarillo:#F2CB05;
    --naranja:#f27405;
    --texto:#474747;
}

body{
    font-family: 'Roboto', sans-serif;
}



.pantalla_producte{
    width: 720px;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;

}

nav{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    background-color: var(--rojo);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav__Logo{
    padding: 10px;
    text-align: left;
    margin-left: 40px;
}

.nav__buscar{
    margin-top: 33px;
    margin-right: 55px;

}


#buscar__texto{
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    font-weight: bolder;
}

#buscar__boton{
    border: 1px black solid;
}

.nav__botones{
    padding: 10px;
}


.barraSuperior{
    width: 50px;
    margin: 10px;
}



#producte__title{
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
}

.producte__img{
    width: 625px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.producte__container{
    width: 625px;
    text-align: left;
    margin-left: 50px;
}


.producte__afegir{
    text-align: left;
    margin-top: 100px;
    position: sticky;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 5px;
    
}

.producte__afegir h1{
    margin-left: 50px;
    color: var(--rojo);
}

.producte__afegir button{
    width: 720px;
    background-color: var(--amarillo);
    height: 100px;
    font-size: 25px;
    font-weight: bolder;
    border: none;
}




.boton_interactivo{
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: var(--amarillo);
}


.boton_interactivo::before {
    content: "";
    background-color: var(--rojo);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}
  

.boton_interactivo:hover::before {
    width: 100%;
}









footer {
    background-color: var(--rojo);
    color: #fff;
    padding: 20px 0;
    font-size: .75em;
    bottom: 0;
    
}

.footer {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.footer__section h3 {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer__section p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons__logos{
 width: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 2.5px;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#logo{
    width: 60px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}    



   /*------------- DESKTOP --------------------*/

   @media only screen and (min-width: 768px) {
    .pantalla_producte {
        width: 100%;
    }


    nav{
        display: grid;
        grid-template-columns: 0fr 2.5fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .nav__buscar{
        margin-top: 33px;
        margin-right: 555px;
    
    }
    
    .producte{
        width: 700px;
        margin: auto;
    }

    #producte__title{
        text-align: center;
        margin-left: 50px;
        margin-top: 60px;
    }
    
    .producte__img{
        width: 625px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
    
    .producte__container{
        width: 625px;
        text-align: left;
        margin: auto;
    }


    .producte__afegir{
        width: 720px;
        text-align: left;
        margin-top: 100px;
        position: sticky;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-top: 5px;
        border-radius: 10px;
        
    }

    .producte__afegir button{
        width: 720px;
        background-color: var(--amarillo);
        height: 100px;
        font-size: 25px;
        font-weight: bolder;
        border: none;
        border-radius: 0 0 10px 10px;

    }
    footer {
        margin-top: 50px;
    }

    .boton_interactivo{
        position: relative;
        background-repeat: no-repeat;
        box-sizing: border-box;
        transition: all .3s ease-in-out;
        z-index: 1;
        overflow: hidden;
        border: none;
        border-radius: 5px;
        background-color: var(--amarillo);
    }
    
    
    .boton_interactivo::before {
        content: "";
        background-color: var(--rojo);
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 700ms ease-in-out;
        display: inline-block;
    }
      
    
    .boton_interactivo:hover::before {
        width: 100%;
    }
}
