:root{
    --rojo: #F22233;
    --amarillo:#F2CB05;
    --naranja:#f27405;
    --texto:#474747;
}

body{
    font-family: 'Roboto', sans-serif;
}



.pantalla_comandes{
    width: 720px;
    text-align: center;
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    position: relative;

}

nav{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    background-color: var(--rojo);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav__Logo{
    padding: 10px;
    text-align: left;
    margin-left: 40px;
}

.nav__buscar{
    margin-top: 33px;
    margin-right: 55px;

}


#buscar__texto{
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    
    font-family: 'Noto Sans Osmanya', sans-serif;
    color: var(--texto);
    font-weight: bolder;
}

#buscar__boton{
    border: 1px black solid;
}

.nav__botones{
    padding: 10px;
}


.barraSuperior{
    width: 50px;
    margin: 10px;
}


.comandes{
    margin-top: 30px;
}


.comanda{
    background-color: var(--naranja);
    width: 950px;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    grid-template-columns: 1fr;
    border-radius: 10px;
}





.info_comanda{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info_comanda h4{
    margin-top: 0;
}

.estat_actual{
    background-color: var(--amarillo);
    width: 40%;
    margin: auto;
}


#info_comanda__total{
    text-align: right;
}

.estat{
    background-color: #eeeeee;
    width: 600px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
opacity: 0;
display: none;}

.comanda:hover .estat {
    display: b;
    transition: 1s;
opacity: 100;    
}

.comanda:hover .comanda{
    opacity: 0;
}

.progress-bar {
    width: 500px;
    margin: auto;
    font-size: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .step {
    width: 25%;
    text-align: center;
    position: relative;
  }
  
  .pedido-recibido::before, .en-preparacion::before, .en-almacen::before, .en-reparto::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border: 2px solid #ddd;
    border-radius: 50%;
    position: absolute;
    margin-top: 25px;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .pedido-recibido.active::before {
    background-color: #3498db;
    font-size: 12px;
  }
  
  .en-preparacion.active::before {
    background-color: #e67e22;
  }
  
  .en-almacen.active::before {
    background-color: #27ae60;
  }
  
  .en-reparto.active::before {
    background-color: #e74c3c;
  }

  .step {
    width: 25%;
    text-align: center;
    position: relative;
    padding: 0 10px; /* Espacio entre el texto y la línea */
  }
  
  .step::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border: 2px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Para que los círculos estén por encima de las líneas */
  }
  
  .step:not(:last-child)::after {
    content: '';
    width: calc(100% - 10px); /* Ancho de la línea (ajusta según tus necesidades) */
    height: 2px; /* Grosor de la línea */
    background-color: #ccc;
    position: absolute;
    top: 285%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Para que las líneas estén detrás de los círculos */
  }
  
.boton_interactivo{
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: var(--amarillo);
}


.boton_interactivo::before {
    content: "";
    background-color: var(--rojo);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}
  

.boton_interactivo:hover::before {
    width: 100%;
}




footer {
    background-color: var(--rojo);
    color: #fff;
    padding: 20px 0;
    font-size: .75em;
    margin-top: 300px;
    bottom: 0;
    
}

.footer {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.footer__section h3 {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer__section p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons__logos{
 width: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 2.5px;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#logo{
    width: 60px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}    

   /*------------- DESKTOP --------------------*/

   @media only screen and (min-width: 768px) {
    .pantalla_comandes {
        width: 100%;
    }


    nav{
        display: grid;
        grid-template-columns: 0fr 2.5fr 1fr;
        background-color: var(--rojo);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .nav__buscar{
        margin-top: 33px;
        margin-right: 555px;
    
    }


    footer {
        margin-top: 50px;
    }
}



